# Python cache
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenvs
.venv/
venv/
ENV/
.env
.env.*

# Build / packaging
build/
dist/
*.egg-info/

# Training artifacts
artifacts/
checkpoints/
*.ckpt
*.pth
*.pt
*.onnx

# Logs
logs/
# MLflow local artifacts (если вдруг)
mlruns/

# Hydra outputs
outputs/
multirun/

# Data (raw/processed)
data/**
!data/
!data/**/
!data/**/*.dvc

# macOS
.DS_Store

# VSCode / JetBrains
.vscode/
.idea/
